/* my creator scss */
body {
	// font-family: Comic Sans MS, sans-serif;
    font-family: 'Lato',  serif;
    // font-family: American Typewriter, serif;
    /* I kind of like this orange color bth */
    // background: #c41;
    // background: #ffa891;
    // background: #b9aeee;
    // background: #545f62;
    background: #4E444F;
    // background: #323B3E;
}
header {
  background: #3E363F;
  display: flex;
  gap:5rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: 0px;
  margin: -1rem -8px 0 -1rem;
  left: 0px;
  right: 0px;
  height: 40px;
  padding: 13px 8px;
  z-index: 100;
  color: #fff;
}
#introP1 {
  margin-bottom: 0;
}
#introP2 {
  margin-top: 0;
}
.logo {
  background: url('./assets/materia-logo.svg') no-repeat;
  display: block;
  height: 29px;
  width: 60px;
  margin-left: 1em;
}
dialog {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3E363F;
  color: #fff;
  border-color:black;
  width:620px;
}

dialog::backdrop {
  background: black;
  opacity: 0.5;
}

form {
	display: flex;
    justify-content: center;
}
label {
  font-size: 1.5rem;
  font-weight: bold;
}
.headings {
  text-align: center;
}
#EnterGameName {
  // margin-left: auto;
  // margin-right: auto;
}
.GameName {
  border-radius: 6px;
  padding:0.5rem 0.1rem;
  text-align: center;
}
.GameName:valid {
    border: 2px solid green;
}
.GameName:invalid {
  border: 2px solid red;
}
.CreatorKVP {
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 8px;
	margin: 0.5rem 0;
}
.CreatorAnswers label,
.AnswerDescriptions label{
	display: block;
}
.CreatorAnswers input::placeholder {
  font-size: 1.1rem;
}
.CreatorAnswers input,
.AnswerDescriptions input {
	// text-transform: uppercase;
	background: rgba(255,255,255,.5);
	min-width: 99%;  /* Full width for input fields */
    font-size: 1.5rem;
	padding: 0.5rem;
	border: none;
	border-radius: 4px;  /* Adding rounded corners to input fields */
	margin-bottom: 1rem;
}
.grid-input::placeholder {
  font-size: 0.8rem!important;
}
/*colors for the blocks */
// .Blue {background-color: rgb(84, 146, 255)}
.Blue {background-color: #6BA0C9;}
// .Green{background-color: rgb(105, 227, 82);}
.Green {background-color: #85BE64;}
.Yellow {background-color: rgb(251, 212, 0);}
// .Pink {background-color: rgb(223, 123, 234);}
.Pink {background-color: #94579C;}
// .Tan {background-color: #914943;}
.Tan {background-color: #E28757;}
.Grey {background-color: #786e6d}
/* preview for the game */
.wordsPreview {
	display: grid;
	// grid-template-columns: 1fr 1fr 1fr 1fr;
}
.previewItem {
	opacity: 1;
	font-size: 1rem;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #efefe6;
	border-radius: 6px;
	height: 4rem;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0.5rem 0 0.5rem;
}

.ContainerDimensionGroup{
    display: flex;
	flex-direction: row;
	align-items: center; /* Center items horizontally */
	justify-content: center; /* Center items vertically */
    gap:1rem;
}
.ContainerDimensionInput  {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  gap:1rem;
  align-items: center;
  margin-left: auto;
  margin-right:2rem;
}
.ChooseButton {
  max-width: fit-content;
  margin:0.3rem auto;
  font-size: 1rem;
  padding:0.5rem 1rem;
  border-radius: 2rem;
  border: none;
}
.Form-dimension-container {
  display: grid;
  grid-template-columns: repeat(6,20px);
  grid-template-rows: repeat(6,20px);
  margin-bottom: 10px;
  grid-gap: 10px;
  min-width: 185px;
}
.Form-dimension-container .cell {
  border-radius: 6px;
  height: 20px;
  width: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0.5rem 0 0.5rem;
}
.cellbg {
  background: grey;
}
.hovered {
  background: white;
}
.hidden {
  display: none!important;
}
.wordsGrid {
  display: grid;
  gap: 10px; /* Space between grid cells */
}

.wordsGrid .previewItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefe6;
  border-radius: 6px;
  height: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.wordsGrid .grid-input {
  background: transparent;
  border: none;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  outline: none;
}

.dimension-status {
  display:inline;
}
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: none; /* Initially hidden */
}

.toast-container.show {
  display: block; /* Show when needed */
}

.toast {
  display: block;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  animation: slidein 0.5s, fadeout 0.5s 4.5s;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.arrow_box {
    position: absolute;
    background: #fbf767;
    border: 2px solid #fbf767;
    left: 53%;
    top: 48%;
    color: #151515;
    font-weight: 400;
    padding: 5px;
    height: 50px;
    width: 150px;
    margin-left: 140px;
    animation: pounce 1s infinite;
}

.arrow_box span {
    display: inline-block;
    width: 140px;
    float: right;
    margin-top: 5px;
    margin-right: 12px;
    text-align: center;
}

.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(251, 247, 103, 0);
    border-right-color: #fbf767;
    border-width: 60px;
    margin-top: -60px;
}

.arrow_box:before {
    border-color: rgba(251, 247, 103, 0);
    border-right-color: #fbf767;
    border-width: 63px;
    margin-top: -63px;
}

@keyframes pounce {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
}
/* New smaller left-facing arrow */
.arrow_box_left {
    position: absolute;
    background: #fbf767;
    border: 2px solid #fbf767;
    right: 51%; /* Adjust the position as needed */
    top: 70%;
    color: #151515;
    font-weight: 400;
    padding: 5px;
    height: 30px; /* Reduce height */
    width: 120px; /* Reduce width */
    margin-right: 140px; /* Adjust the margin */
    animation: pounce_left 1s infinite;
}

.arrow_box_left span {
    display: inline-block;
    width: 110px; /* Reduce width */
    float: left; /* Change float to left */
    margin-top: -5px;
    margin-left: 12px; /* Adjust margin */
    text-align: center;
}

.arrow_box_left:after, .arrow_box_left:before {
    left: 100%; /* Change from right to left */
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_left:after {
    border-color: rgba(251, 247, 103, 0);
    border-left-color: #fbf767; /* Change border-right-color to border-left-color */
    border-width: 30px; /* Reduce border width */
    margin-top: -30px; /* Adjust to match the reduced border width */
}

.arrow_box_left:before {
    border-color: rgba(251, 247, 103, 0);
    border-left-color: #fbf767; /* Change border-right-color to border-left-color */
    border-width: 33px; /* Reduce border width */
    margin-top: -33px; /* Adjust to match the reduced border width */
}

@keyframes pounce_left {
    0%, 100% { transform: translateX(0); }
    50% { transform: translateX(10px); } /* Reverse the direction of the pounce */
}

/* Media queries for responsiveness */
@media (max-width: 1650px) {
    .headings  {
        font-size: 1.5rem;
    }
    #EnterGameName {
        font-size: 1.2rem;
    }
    header label{
      font-size: 1.2rem;
    }
    #chooseButton {
      font-size: 0.8rem;
    }
}

@media (max-width: 1440px) {
      .headings  {
        font-size: 1.2rem;
    }
    #EnterGameName {
        font-size: 0.8rem;
    }
    header label{
      font-size: 0.8rem;
    }
    .GameName {
      max-width: 50%;
    }

}

