body {
  background: #3E363F;
  color: #fff;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.correct {
  background-color: #5cb85c;
  color: white;
}

.wrong {
  background-color: #d9534f;
  color: white;
}
table {
  border: 1px solid #ccc;
}
th, td {
  border: 1px solid #555;
}

thead tr {
    background-color: #444;
    color: #fff;
}

tbody td {
    background-color: #595959;
}
